html{
  font-family: "Rubik", sans-serif;
}

header {
    display: flex;

    /* background-image: linear-gradient(to bottom right, black, rgba(255, 0, 0, 0.336));s */
    color: white;
    text-align: right;
    padding-left: 20px;
    z-index: 4;
    position: relative;
}

@keyframes rotate {
    from {
      background-position: 0% 0%;
    }
    
    50% {
      scale: 1 2;
    }
    
    to {
      background-position: -100% 0%;
    }
  }
  

#blob {
    background-color: white;
    height: 20vmax;
    width: 120vmax;
    position: fixed;
    left: 50%;
    top: 110%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, firebrick, crimson);
    animation: rotate 20s infinite;
    opacity: 0.5;
    overflow: hidden;
    z-index: 1;
}

#blur {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(14vmax);
    pointer-events: none;
}

header h1, header h2, header a{
    margin-bottom: 6px;
}
a:first-of-type {
  text-decoration: none;
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: white;
}
header div{
    display: flex;
    gap: 20px;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    border:solid rgb(99, 0, 0);
    border-width:0 0 5px 0;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: black;
    position: relative;
}

.car,
.card {
  z-index: 10;
  transform: scaleX(-1);
}

.car,
.big-card {  
  width: 20vmin;
}

.car {
  scale: 0.7;
}
.car {
  position: absolute;
  height: 100px;
  transition: transform 400ms ease;
  translate: -50% -50%;
  top: 22%;
  left: 30%;
}

.grid-inputs{
  z-index: 10;
  position: absolute;
  top: 40%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  row-gap: 30px;
  justify-content: center;
  width: calc(100% - 40px);
  margin-left: 20px;
  max-height: 0;
  padding-top:  0px;
  padding-bottom: 0px;
  transition: max-height 1.5s ease, padding-top 1s ease, padding-bottom 1s ease;
  overflow: hidden;
  border-width: 3px;
  border-top: 0;
  border-bottom: 0;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      red, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}

.visible {
  max-height: 30%;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: max-height 2s ease, padding-top 2s ease, padding-bottom 2s ease;
}

.user-input {
  border:solid rgb(99, 0, 0);
  border-width:0 0 5px 0;
  background-color: inherit;
  color: white;
  width: 32%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24;
}

/* .user-input:first-of-type{
  margin-top: 10px;
} */

body button {
  z-index: 10;
  position: absolute;
  color: white;
  right: 0;
  top: 150px;
  border:solid rgb(99, 0, 0);
  border-width:0 0 5px 0;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  font-size: 45;
}
.map {
  z-index: 10;
  position: absolute;
  width: 600px; 
  height:450px;
  border:0;
  left: 60%;
  top: 100px;
}

.car img {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 10;

}
.car img:first-of-type{
  opacity: 1;
  transition: opacity 2s;
  transition-timing-function: cubic-bezier(.03,.79,.84,1.07);
}

.car > img:first-of-type.active{
  opacity: 0;
  transition: opacity 2s;
  transition-timing-function: cubic-bezier(.03,.79,.84,1.07);
}

.car img:last-of-type {
  opacity: 0;
  transition: opacity 2s;
  transition-timing-function: cubic-bezier(0,1.1,.46,1.04);
}

.car > img:last-of-type.active{
  opacity: 1;
  transition: opacity 2s;
  transition-timing-function: cubic-bezier(0,1.1,.46,1.04);
}

.car[data-status="unknown"] {
  transform: scale(0);
  transition: none;
}

.car[data-status="active"] {
  transition-delay: 300ms;
}

.car[data-status="after"] {
  transform: translateX(50%) scale(0);
}

.car[data-status="before"] {
  transform: translateX(-50%) scale(0);
}

.car[data-status="becoming-active-from-after"] {
  transform: translateX(50%) scale(0);
  transition: none;
}

.car[data-status="becoming-active-from-before"] {
  transform: translateX(-50%) scale(0);
  transition: none;
}

.card {
  background-color: rgba(255, 255, 255, 0.014);
  position: absolute;
  transition: transform 2s cubic-bezier(.05,.43,.25,.95), opacity 2s cubic-bezier(0,1.09,.98,1.01);
  background-position: center;
  background-size: cover;
}

.big-card {
  border-radius: 2vmin;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.details {
  width: 100px;
  height: 100px;
  border-radius: 2vmin;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: -1vmin 1vmin 2vmin rgba(0, 0, 0, 0.25);
  pointer-events: none;
  opacity: 0;
  /* transition: opacity 1s cubic-bezier(0,1.1,.46,1.04); */
  /* transition-timing-function: cubic-bezier(0,1.1,.46,1.04); */
}
.big-card:nth-child(2) {
  /* background-image: url("https://images.unsplash.com/photo-1568572933382-74d440642117?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8ZG9nc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60n"); */
  /* transform: translateX(-10%) rotate(-1deg); */
}

.big-card:nth-child(4) {
  /* background-image: url("https://images.unsplash.com/photo-1534351450181-ea9f78427fe8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGRvZ3N8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"); */
  /* transform: rotate(2deg); */
}

.big-card:nth-child(6) {
  /* background-image: url("https://images.unsplash.com/photo-1552053831-71594a27632d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGRvZ3N8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"); */
  /* transform: translateX(-6%) rotate(-3deg); */
}

.big-card:nth-child(8) {
  /* background-image: url("https://images.un/splash.com/photo-1537151608828-ea2b11777ee8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGRvZ3N8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"); */
  /* transform: translate(10%, 3%) rotate(5deg); */
}

.details:nth-child(1) {
  left: -40%;
  top: 80%;
}

.details:nth-child(3) {
  left: 120%;
  top: 80%;
}

.details:nth-child(5) {
  left: 120%;
  top: 80%;
}

.details:nth-child(7) {
  left: -40%;
  top: 80%;
}

.details:nth-child(9) {
  left: -40%;
  width: 70px;
  height: 70px;
  top: 20%;
}

.details {
  background-image: url("wheel.png");
}

.engine {
  background-image: url("engine-removebg-preview.png");
}

 .car > .big-card:nth-child(2).active {
  transform: translate(-75%, 16%) rotate(-24deg);
}

 .car > .big-card:nth-child(4).active {
  transform: translate(-25%, 8%) rotate(-8deg);
}

 .car > .big-card:nth-child(6).active {
  transform: translate(25%, 8%) rotate(8deg);
}

 .car > .big-card:nth-child(8).active {
  transform: translate(75%, 16%) rotate(24deg);
}

 .car > .details:nth-child(1).active {
  transform: translate(-280%, 20%) rotate(-15deg);
  opacity: 1;
}

 .car > .details:nth-child(3).active {
  transform: translate(240%, 20%) rotate(15deg);
  opacity: 1;
}

 .car > .details:nth-child(5).active {
  transform: translate(140%, 100%) rotate(-15deg);
  opacity: 1;
}

 .car > .details:nth-child(7).active {
  transform: translate(-180%, 100%) rotate(15deg);
  opacity: 1;
}

 .car > .details:nth-child(9).active {
  transform: translate(-230%, -110%);
  opacity: 1;
  /* transition: opacity 1s cubic-bezier(.03,.79,.84,1.07); */
}