@font-face {
  font-family: roc-grotesk;
  src: url(../fonts/roc-grotesk.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
html{
  font-family: roc-grotesk, "Rubik", sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background: black;
    position: relative;
    display: flex;
    flex-direction: column;
}
.service-info {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.7s;
}
.service-active{
  max-height: 3rem;
  transition: max-height 0.7s;
} 
.open-buttons{
  display: none;
  background-image: url('assets/img/menu.png');
  width: 50px;
  height: 50px;
  background-size: cover;
  position: absolute;
  left: 2%;
}
#actions-list {
  pointer-events: none;
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: 0;
  gap: 2rem;
  opacity: 0;
  z-index: 5;
  width: 0vw; 
  /* min-width: 0vw; */
  height: 100vh;
  background-color: rgb(234,234,238);
  transition: opacity 1s, width 1s ease, font-size 0.5s ease;
}

header {
    position: fixed;
    color: rgb(234,234,238);
    background-color: #1470AF;
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    z-index: 6;
}
  
#action-buttons{
    display: flex;
    position: absolute;
    gap: clamp(1rem, 2rem, 3rem);
    left: 2%;
}
header div h3{
  /* max-width: 33%; */
  font-size: clamp(1.3rem, 1.5rem, 2rem);
  font-weight: 100;
}
header h2{
  margin: 1rem auto;
  font-size: clamp(1.5rem, 2rem, 3rem);
}
header a{
  background-image: url('assets/img/inst-icon.png');
  background-size: contain;
    width: 32px;
    height: 32px;
    right: 1%;
    position: absolute;
}


/* Preview of company */
#preview {
  width: 100%;
  background-color: #1470AF;
  position: relative;
  display: inline-flex;
  color: rgb(234,234,238);
  align-items: center;
  /* overflow: hidden; */
}
#intro-wrapper {
  display: flex;
  justify-content: space-between;
  margin: auto;
  gap: 5rem;
  width: 90%;
}
#preview h1 {
  font-size: 3rem;
}
#preview p {
  font-size: 1.4rem;
}
#introduction {
  padding-top:  2rem;
}
#preview img {
  width: 50%;
  object-fit: cover;
  position: relative;
  margin-bottom: 2%;
}

button{
  border-radius: 10rem;
  width: 12rem;
  aspect-ratio: 3/1;
  border: none;
  background-color: rgb(234,234,238);
  font-size: 1.2rem;
  color: #1470af;
  margin-bottom: 1rem;
}

/* Services */
#services {
  min-height: 40vh;
    width: 100%;
    background-color: rgb(234,234,238);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: clamp(2.5vw, 2.6vw, 3vw);
}
#services h1 {
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: clamp(0.1rem, 1.5rem, 5rem);
}
#services button {
  color: rgb(234,234,238);
  background-color: #1470af;
}
#services ul{
    list-style: none;
    padding-left: 0;
    text-align: center;
}
#services li {
  cursor: pointer;
}
.hor-divider {
  height: 2px;
  background: black;
}

/* Extra info box */
#more-info{
  width: 100%;
  min-height: 50vh;
  background-color: #1470af;
  display: flex;
  justify-content: center;
}
#more-info-box {
  background-color: rgb(234,234,238);
  max-width: 30%;
  min-height: 80%;
  margin: 2rem auto;
  border-radius: 1rem;
  font-size: clamp(1.1rem, 1.3rem, 2.8rem);
}
#more-info-box h1, #more-info-box h3 {
  padding: 0 10px;
  text-align: center;
}


/* social links */

#social-links {
  background-color: rgb(234,234,238);
  text-align: center;
  width: 100%;
  padding-bottom: 1.4rem;
}
#social-links h1 {
  font-size: clamp(0.1rem, 2.5rem + 1vw, 3rem);
  font-weight: 300;
}
#links {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
#social-links a{
  background-image: url('/Workshop/assets/img/inst-icon.png');
  display: block;
  width: 32px;
  height: 32px;
  background-size: cover;
}

/* appointment */
#appointment {
  background-color: rgb(234,234,238);
  text-align: center;
  padding-bottom: 2rem;
}
#inputs{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center ;
  gap: 1rem;
}
.user-input {
  width: 35%;
  height: 3rem;
  font-size: clamp(1.3rem, 1.4rem, 2.8rem);
}

/* footer */

footer {
  min-height: calc(10vh);
  width: 100%;
  background-color: #1470af;
  display: flex;
  /* padding-bottom: 5rem; */
  overflow: hidden;
}
.ver-divider {
  background-color: black;
  max-width: 1px;
  margin: 0;
}
footer div {
  flex: 33%;
  max-width: 33%;
  text-align: center;
  font-size: clamp(1.3rem, 1.4rem, 2.8rem);
  margin-top: 0.5rem;
  padding-bottom: 5rem;
}
footer div p {
  margin: 2px 0;
}

@media (max-width: 60rem){
  #action-buttons {
    display: none;
  }
  .open-buttons {
    display: block;
  }
  #actions-list.opened {
    /* display: block; */
    pointer-events: all;
    opacity: 1;
    /* max-width: 100vw; */
    width: 100vw;
    font-size: 2rem;
    transition: opacity 1s, width 1s ease, font-size 1s ease;
  }
  header h2 {
    font-size: calc(1rem + 4vw);
  }
  header a {
    width: 50px;
    height: 50px;
  }
  #more-info-box {
    max-width: 80%;
    font-size: 1.2rem;
  }
  .user-input {
    width: 90%;
}
}

@media screen and (max-width:50rem){
  #preview {
    height: clamp(90vh, 100vh, 110vh) !important;
  }
  #intro-wrapper {
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  #introduction {
    width: 90%;
    margin: auto;
  }
  #preview img {
    width: 100%;
    height: 25vh;
    object-fit: cover;
    object-position: 0% 90%;
    margin-bottom: 0;
  } 
  #services {
    font-size: 2rem;
  }
  .service-info {
    max-height: 0;
    transition: max-height 1s;
  }
  .service-active{
    max-height: 10rem;
    transition: max-height 1s;
  } 
  #more-info-box {
    max-width: 100%;
    /* font-size: 1.2rem; */
  }
  #more-info-box h1, #more-info-box h3 {
    padding: 0 2px;
    text-align: center;
  }
  footer {
    flex-direction: column;
    padding-bottom: 3rem;
  }
  footer div {
    max-width: 100%;
    padding-bottom: 0;
  }
  .ver-divider {
    height: 1px;
    max-width: 100%;
    margin-top: 2rem;
    flex: none;
  }
}